





<section class="rounded-3" style="background-color: #d1cbcb;">
    <div class="text-center container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="admin-dashhd text-center">
                        <h2 class="text-center admin-dasheadn  p-3" >Category</h2>

                        
                    </div>
                    <div class=" d-flex justify-content-center p-2">
                        <a href="/admin/addcategory" class="btn btn-success"><i class="fa-solid fa-plus"></i>Add</a>

                    </div>

                    <div class="card-body">
                        <div class="basic-data-table">
                            <table id="basic-data-table" class="table nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody >
                                {{#each category}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td>{{this.status}}</td>
                                    <td>
                                        <a href="/admin/editcategory?id={{this._id}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                        {{#ifeq this.status "Active"}}
                                        <a href="/admin/deletecategory?id={{this._id}}" class="btn btn-danger"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}"><i class="fa-solid fa-trash"></i></a>
                                        {{/ifeq}}

                                        {{#ifeq this.status "Inactive"}}
                                        <a href="/admin/restorecategory?id={{this._id}}"
                                            class="btn btn-success"><i class="fa-solid fa-repeat"></i></a>
                                        {{/ifeq}}
                                    </td>
                                </tr>
                                <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <a href="/admin/deletecategory?id={{this._id}}"><button type="button"
                                                        class="btn btn-danger">Delete</button></a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
        $('#basic-data-table').DataTable();
    });
</script>