


<section class="rounded-3" style="background-color: #eee;">
    <div class="text-center container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom d-flex justify-content-between">
                        <h2>Ordered Products</h2>
                    </div>

                    <div class="card-body">
                        <div class="basic-data-table">
                            <table id="basic-data-table" class="table nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th >Product name</th>
                                    <th >Quantity</th>
                                    <th >Price</th>
                                    </tr>
                                </thead>


                                <tbody >
                                {{#each order}}

                                {{#each product}}
                                <tr>
                                    <td>{{name}}</td>
                                    <td>{{quantity}}</td>
                                    <td>₹{{price}}</td>
                                </tr>
                                {{/each}}

                                {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-body">
                        {{#each order}}
                    <h5 class="card-header" >User Name</h5>
                    <h4>{{userDetails.0.name}}</h4>
                    <h5 class="card-header">Ordered Address</h5> 
                    <h6>{{addressId}}</h6>
                    <h5 class="card-header">Ordered Date</h5>
                    <h6>{{date}}</h6>
                    {{#ifeq status "Delivered"}}
                    <h5 class="card-header">Delivered Date</h5>
                    <h6>{{delivery_date}}</h6>
                    {{/ifeq}}
                    {{#ifnoteq status "Delivered"}}
                    <h5 class="card-header">Delivered Date</h5>
                    <h6>Not Delivered</h6>
                    {{/ifnoteq}}
                    {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5">
                <h6 class="mb-0"><a href="orders" class="text-body text-decoration-none"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back</a></h6>
            </div>
    </div>
</section>





