


<section class="rounded-3" style="background-color:  #d1cbcb;">
    <div class="text-center container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="admin-dashhd text-center">
                        <h2 class="text-center admin-dasheadn  p-3">Ordered Products</h2>
                    </div>

                    <center>
                        <div class="card-body">

                            <div class="adcard">
                                {{#each order}}
                                {{#each product}}
                                <h2 class="adh">Product Details</h2>
                                <p class="adp"><strong>Product Name:</strong>{{name}}</p>
                                <p class="adp"><strong>Quantity:</strong>{{quantity}}</p>
                                <p class="adp"><strong>Price:</strong>₹{{price}}</p>
                                {{/each}}
                                {{/each}}

                                {{#each order}}
                                <div class="aduser">
                                    <p class="adp"><strong>User</strong>
                                    <h2>{{userDetails.0.name}}</h2>
                                    </p>
                                </div>
                                <div class="adaddress">
                                    <h2 class="adh">Shipping Address</h2>
                                    <p class="adp">{{addressId}}</p>

                                </div>

                                <div class="addelivery">
                                    <h2 class="adh">Ordered Date</h2>
                                    <p class="adp">{{date}}</p>
                                </div>
                                <div class="adadaddress">

                                    {{#ifeq status "Delivered"}}
                                    <h5>Delivered Date</h5>
                                    <h6>{{delivery_date}}</h6>
                                    {{/ifeq}}
                                    {{#ifnoteq status "Delivered"}}
                                    <h5>Delivered Date</h5>
                                    <h6>Not Delivered</h6>
                                    {{/ifnoteq}}

                                </div>
                                {{/each}}

                            </div>
                        </div>
                    </center>
                </div>
            </div>
        </div>
        <div class="pt-5">
            <h6 class="mb-0"><a href="orders" class="text-body text-decoration-none"><i
                        class="fas fa-long-arrow-alt-left me-2"></i>Back</a></h6>
        </div>
    </div>
</section>





