



<section class="rounded-3" style="background-color: #eee;">
    <div class="text-center container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom d-flex justify-content-between">
                        <h2>Products</h2>

                        <a href="/admin/addproduct" class="btn btn-success"><i class="fa-solid fa-plus"></i>Add</a>
                    </div>

                    <div class="card-body">
                        <div class="basic-data-table">
                            <table id="basic-data-table" class="table nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                    <th>Image</th>
                                    <th>Price</th>
                                    <th>Fake price</th>
                                    <th>Stock</th>
                                    <th>Category</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody >
                                {{#each products}}
                                <tr>
                                    <td>{{this.name}}</td>
                                    <td><img src="/productImages/{{this.image.[0]}}" alt="..." class="img-fluid"></td>
                                    <td>₹{{this.price}}</td>
                                    <td>₹{{this.fake_price}}</td>
                                    <td>{{this.stock}}</td>
                                    <td>{{Product.0.name}}</td>
                                    <td>
                                        {{#if is_deleted}}
                                        <p class="text-danger">Deleted</p>
                                        {{else}}
                                        <p class="text-success">Not deleted</p>
                                        {{/if}}
                                    </td>
                                    <td>
                                        <a href="/admin/editproduct?id={{this._id}}" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <br><br>
                                        {{#ifeq this.is_deleted false}}
                                        <a href="/admin/deleteproduct?id={{this._id}}" class="btn btn-danger"
                                            data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}"><i class="fa-solid fa-trash"></i></a>
                                        {{/ifeq}}

                                        {{#ifeq this.is_deleted true}}
                                        <a href="/admin/restoreproduct?id={{this._id}}"
                                            class="btn btn-success"><i class="fa-solid fa-repeat"></i></a>
                                        {{/ifeq}}
                                    </td>
                                </tr>
                                <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <a href="/admin/deleteproduct?id={{this._id}}"><button type="button"
                                                        class="btn btn-danger">Delete</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<script>
    $(document).ready(function () {
        $('#basic-data-table').DataTable();
    });
</script>