<section class="rounded-3" style="background-color: #eee;">
    <div class="text-center container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header card-header-border-bottom d-flex justify-content-between">
                        <h2>Orders</h2>
                    </div>

                    <div class="card-body">
                        <div class="basic-data-table">
                            <table id="basic-data-table" class="table nowrap" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Order id</th>
                                        <th>Products</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                        <th>Order Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    {{#each orderData}}
                                    <tr>
                                        <td>{{this.orderId}}</td>
                                        <td> <a href="/admin/viewproducts?id={{this._id}}" class="btn btn-success">View
                                                Products</a>
                                        </td>
                                        <td>
                                            {{#ifeq this.payment_method 1}}
                                            <h5 class="text-success">COD</h5>
                                            {{/ifeq}}

                                            {{#ifeq this.payment_method 2}}
                                            <h5 class="text-success">RAZORPAY</h5>
                                            {{/ifeq}}
                                        </td>
                                        <td>
                                            {{#ifeq this.status "Processing"}}
                                            <h5 class="text-muted">Processing</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Shipped"}}
                                            <h5 class="text-warning">Shipped</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Out for Delivery"}}
                                            <h5 class="text-info">Out for Delivery</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Delivered"}}
                                            <h5 class="text-success">Delivered</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Cancelled"}}
                                            <h5 class="text-danger">Cancelled</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Returned"}}
                                            <h5 class="text-primary">Returned</h5>
                                            {{/ifeq}}
                                        </td>
                                        <td>₹{{this.orderPrice}}</td>

                                        <td>

                                            {{#ifeq this.status "Processing"}}
                                            <a href="/admin/changestatus?id={{this._id}}" class="btn btn-warning ">Ship
                                                Order</a>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Shipped"}}
                                            <a href="/admin/changestatus?id={{this._id}}" class="btn btn-primary">Out
                                                for
                                                Delivery</a>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Out for Delivery"}}
                                            <a href="/admin/changestatus?id={{this._id}}"
                                                class="btn btn-primary">Deliver
                                                Order</a>
                                            {{/ifeq}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<script>
    $(document).ready(function () {
        $('#basic-data-table').DataTable();
    });
</script>