<section class="rounded-3" style="background-color: #d1cbcb;">
    <div class="text-center container py-5">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="admin-dashhd text-center">
                        <h2 class="text-center admin-dasheadn  p-3">Orders</h2>
                    </div>
                    <div class="ados d-flex justify-content-center p-2">
                        <a href="orders" class="btn  adosbtn">Processing</a>
                        <a href="shipped" class="btn  adosbtn">Shipped</a>
                        <a href="outfordelivery" class="btn  adosbtn">Out for Delivery</a>
                        <a href="delivered" class="btn  adosbtn">Delivered</a>
                        <a href="cancelled" class="btn  adosbtn">Cancelled</a>
                        <a href="returns" class="btn  adosbtn">Returns</a>
                    </div>

                    <div class="card-body">
                        <div  >
                            <table class="table nowrap" style="width:100%" id="orderTable" >
                                <thead>
                                    <tr>
                                        <th>Order id</th>
                                        <th>Products</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Order Price</th>
                                        <th>Offer Price</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>


                                <tbody>
                                    {{#each orderData}}
                                    <tr>
                                        <td>{{this.orderId}}</td>
                                        <td> <a href="/admin/viewproducts?id={{this._id}}" class="btn btn-success">More
                                                info</a>
                                        </td>
                                        <td>{{this.dateFormatted}}</td>
                                        <td>
                                            {{#ifeq this.status "Processing"}}
                                            <h5 class="text-muted">Processing</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Shipped"}}
                                            <h5 class="text-warning">Shipped</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Out for Delivery"}}
                                            <h5 class="text-info">Out for Delivery</h5>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Delivered"}}
                                            <h5 class="text-success">Delivered</h5>
                                            {{/ifeq}}

                                        </td>
                                        <td>₹{{productPrice}}</td>
                                        <td>₹{{this.orderPrice}}</td>

                                        <td>

                                            {{#ifeq this.status "Processing"}}
                                            <a href="/admin/changestatus?id={{this._id}}" class="btn btn-warning ">Ship
                                                Order</a>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Shipped"}}
                                            <a href="/admin/changestatus?id={{this._id}}" class="btn btn-primary">Out
                                                for
                                                Delivery</a>
                                            {{/ifeq}}
                                            {{#ifeq this.status "Out for Delivery"}}
                                            <a href="/admin/changestatus?id={{this._id}}"
                                                class="btn btn-primary">Deliver
                                                Order</a>
                                            {{/ifeq}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>

                        

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    $(document).ready(function () {
    $('#orderTable').DataTable({
        "paging": true,
        "pageLength": 10, // Display 2 records per page
        "order": [[2, "desc"]] ,// Sort by the 3rd column (date) in descending order
        "lengthChange": false 
    });
});

</script>