<section style="background-color: #d1cbcb;">
    <div class=" p-5 container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row billing-fields">
                            <div class="col-md-12 sm-margin-30px-bottom p-3">
                                <center>
                                    <div class="create-ac-content bg-light-gray padding-20px-all ">
                                        <br><br>
                                        <h2>Deliver to:</h2>
                                        <br>
                                        <div class="row">
                                            <select selected class="form-control" id="addressform"
                                                onchange="addressValue()">
                                                {{#each address}}
                                                <option {{_id}}>
                                                    {{name}},{{house}},{{city}},{{pincode}},{{state}}</option>
                                                {{/each}}
                                            </select>
                                            <center>
                                                <a href="/checkoutaddaddress"
                                                    class=" btn the-userbutton btn-lg"><strong>Add new
                                                        Address</strong></a>
                                            </center>
                                        </div>
                                    </div>
                                </center>
                            </div>
                        </div>
                        <div class=" col-md-12 p-3">
                            <div class="your-order-payment ">

                                <div class="your-order">
                                    <h2 class="order-title mb-4">Your Order</h2>
                                    <div class="table-responsive-sm order-table table-bordered">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Image</th>
                                                    <th scope="col"> Name</th>
                                                    <th scope="col">Quantiy</th>
                                                    <th scope="col">Price</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each productDetails}}
                                                <tr>
                                                    <td><img src="/productImages/{{this.image.[0]}}" width="50px"
                                                            height="50px" alt="..." /></td>
                                                    <td>{{this.name}}</td>
                                                    <td>{{this.quantity}}</td>
                                                    <td>₹{{this.price}}</td>
                                                    <input type="hidden" name="productid" value="{{this._id}}">
                                                    <input type="hidden" name="productname" value="{{this.name}}">
                                                    <input type="hidden" name="price" value="{{this.price}}">
                                                    <input type="hidden" name="quantity" value="{{this.quantity}}">
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td><strong>Total amount payable</strong></td>
                                                    <td></td>
                                                    <td><strong>₹{{subtotal}}-/only</strong></td>
                                                    <input type="hidden" name="totalamount" id="subtotal"
                                                        value="{{subtotal}}">
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                                <div class="cccoupon">
                                    <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                        Discount
                                        <h3 id="offer" class="fw-normal">{{offer}}</h3>
                                    </li>

                                    <li
                                        class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                        <div>
                                            <strong>Total amount</strong>
                                        </div>
                                        <h3 id="gtotal" class="fw-normal">{{grandTotal}}</h3>
                                    </li>
                                    <div class="card mb-4">
                                        <div class="card-header py-3">
                                            <h5 class="mb-0">Apply Promo Code</h5>
                                        </div>
                                        <div class="card-body" style="max-width: 500px;" >

                                            <ul class="list-group list-group-flush">

                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                                    Coupon Code :
                                                    <input type="text" id="couponCode" class="form-control" name="coupon">
                                                    <br>
                                                </li>
                                                <br>
                                            </ul>
                                            <div class="d-flex justify-content-center">
                                                <h3 class="text-danger" id="errorMessage" ></h3>
                                                
                                                <h3 class="text-success" id="successMessage" ></h3>
                                                
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between m-3" >
                                                <button class="btn the-userbutton btn-lg" onclick="checkCoupon()">
                                                Apply Code
                                            </button>
                                            <button class="logbutton text-white " data-bs-toggle="modal" href="#exampleModalToggleC">View Coupons
                                                <div class="arrow-wrapper">
                                                    <div class="arrow"></div>

                                                </div>
                                            </button>
                                            </div> 
                                        
                                        
                                    </div>
                                </div>

                                <center>
                                    <hr>
                                </center>

                                <div class="your-payment ">
                                    <h2 class="payment-title mb-3">Payment Method</h2>
                                    <br><br>
                                    <div class="payment-method">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment" value="1"
                                                onclick="radioValue()">
                                            <label class="form-check-label" for="payment1">
                                                Cash On Delivery
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="payment" value="2"
                                                onclick="radioValue()">
                                            <label class="form-check-label" for="payment1">
                                                Razorpay
                                            </label>
                                        </div>

                                        <hr>
                                        <div class="order-button-payment">
                                            <button class="btn the-userbutton btn-lg" id="placeOrderButton"
                                                onclick="checkplaceOrder()" type="submit" disabled>Placeorder</button>
                                        </div>
                                    </div>
                                    <h3 class="text-danger" id="addressError" ></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggleC" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="d-flex justify-content-end m-3">
                   <button class="noselect exitbutton " data-bs-dismiss="modal" type="button">
                        <span class="text">Exit</span>
                        <span class="exiticon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path>
                            </svg>
                        </span>
                    </button>
                </div>
                <div class="modal-body ">
                    <center>
                        <h5 class="p-3"><strong>These are some coupons</strong></h5>
                    </center>
                    {{#each coupon}}
                    
                    <center>
                        <div class="coucard">
                        <div class="text-center">
                            <div class="d-flex flex-row text-center">
                                
                                <div class="d-flex flex-column ml-1">
                                    <h1 class="mb-0 coupercent">{{this.offer}}%</h1>
                                    <span class="coudiscount">Discount</span>
                                </div>
                            </div>   
                        </div>
                        <hr class="couline">
                        <span class="text-white">Use : {{this.name}}</span>
                        <button class="copybutton" onclick="copyToClipboard('{{this.name}}')">Copy</button>
                        <br>
                        <span class="text-white">Max discount upto {{this.limit}}</span>
                    </div>
                    
                    </center>
                    <br>
                    {{/each}}
                </div>
                
            </div>
        </div>
    </div>
</section>









<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    let addressId ;
    let finalPriceAmount;
    let payment;
    let orderPrice;
    orderPrice = Number(document.getElementById('subtotal').value)
    let grandTotal = Number(document.getElementById('gtotal').innerHTML)
    console.log(grandTotal)
    
    finalPriceAmount = orderPrice;

    


    async function checkCoupon() {
        
        const coupon = document.getElementById('couponCode').value;
        console.log(coupon)
        let valCoupon = await fetch('/validateCoupon', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ code: coupon }),
        });
        let response = await valCoupon.json()

        if (response == "fail") {
            document.getElementById("errorMessage").innerHTML = "Coupon Invalid";

        } else if (response == "NOT") {
            document.getElementById("errorMessage").innerHTML = "Coupon Not Found";
        }
        else {

            
            let dis = Number(response.offerPrice)

            let maxDiscount = Number(response.maxDiscount)

            console.log(maxDiscount)

            let subtotal = document.getElementById('subtotal').value

            let gtotal = document.getElementById('gtotal').innerHTML

            const amt = Number(subtotal) * Number(dis) / 100


            if (amt >= maxDiscount) {
                gtotal = gtotal - maxDiscount;
            
            }else{
                gtotal = gtotal - amt
            }

            finalPriceAmount = gtotal;
            
            console.log(gtotal+"HAI")
            

            document.getElementById('gtotal').innerHTML = gtotal
            if(amt >= maxDiscount){
                let offer = document.getElementById("offer").innerHTML = "-" + maxDiscount
            }else{
                let offer = document.getElementById("offer").innerHTML = "-" + amt
            }
            

            document.getElementById("successMessage").innerHTML = "Coupon Applied Successfully";

        }
    }


    async function radioValue() {
        addressId = document.getElementById('addressform').value
        if(addressId){
            document.getElementById('placeOrderButton').disabled = false
        }else{
            Swal.fire({
                    title: 'Something went wrong',
                    text: "Add address first !",
                    icon: 'error',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK',
                    timer: 3000
                })
        }
    }


    async function checkplaceOrder() {
        payment = Object.values(document.getElementsByName('payment')).filter((item) => item.checked ? item : '').map((item) => item.value)
        if (payment[0] === '1' ) {
            placeOrder();
            console.log(payment)
        } else {

            var orderId;
            {{!-- orderPrice = grandTotal; --}}
            orderPrice = finalPriceAmount;

            $(document).ready(function () {

                var settings = {
                    url: "/create/orderId",
                    method: "POST",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/json",
                    },
                    data: JSON.stringify({
                        
                        amount : finalPriceAmount 
                    }),
                };

                //creates new orderId everytime
                $.ajax(settings).done(function (response) {
                    orderId = response.orderId;
                    console.log(orderId);
                });
            });
            console.log(orderPrice)
            document.getElementById("placeOrderButton").onclick = function (e) {
                var options = {
                    key: "rzp_test_PV96s4rYG605ex", // Enter the Key ID generated from the Dashboard
                    amount : finalPriceAmount *100,
                    
                    currency: "INR",
                    name: "eniac",
                    description: "Test Transaction",
                    image: "https://example.com/your_logo",
                    order_id: orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    handler: function (response) {
                        {{!-- alert(response.razorpay_payment_id);
                        alert(response.razorpay_order_id);
                        alert(response.razorpay_signature); --}}
                        var settings = {
                            url: "/api/payment/verify",
                            method: "POST",
                            timeout: 0,
                            headers: {
                                "Content-Type": "application/json",
                            },
                            data: JSON.stringify({ response }),
                        };
                        console.log(response)
                        $.ajax(settings).done(function (response) {
                            placeOrder();
                            {{!-- alert(JSON.stringify(response)); --}}
                        });
                    },

                    theme: {
                        color: "#0000FF",
                    },
                };
                var rzp1 = new Razorpay(options);
                rzp1.on("payment.failed", function (response) {
                    alert(response.error.code);
                    alert(response.error.description);
                    alert(response.error.source);
                    alert(response.error.step);
                    alert(response.error.reason);
                    alert(response.error.metadata.order_id);
                    alert(response.error.metadata.payment_id);
                });
                rzp1.open();
                e.preventDefault();
            };


        }
    }



    async function placeOrder() {
        const productid = Object.values(document.getElementsByName('productid')).map((item) => item.value)
        const productname = Object.values(document.getElementsByName('productname')).map((item) => item.value)
        const price = Object.values(document.getElementsByName('price')).map((item) => item.value)
        const quantity = Object.values(document.getElementsByName('quantity')).map((item) => item.value)
        addressId = document.getElementById('addressform').value
        const orderPrice = Object.values(document.getElementsByName('totalamount')).map((item) => item.value)
        

        const coupon = document.getElementById('couponCode').value

        console.log(orderPrice)


        let data = {
            productid: productid,
            productname: productname,
            price: price,
            quantity: quantity,
            addressId: addressId,
            orderPrice:orderPrice,
            payment: payment,
            coupon: coupon
        }
        console.log(data)

        try {

            const orderPlacement = await fetch('/placeorder', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data)
            })
            let res = await orderPlacement.json()
            if (res == "success") {
                Swal.fire({
                    title: 'Success',
                    text: "Item ordered successfully !",
                    icon: 'success',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK',
                    timer: 3000
                }).then((res) => {
                    window.location.href = '/ordersuccess'
                })
            } else
                Swal.fire({
                    title: 'Something went wrong',
                    text: "something went wrong !",
                    icon: 'failure',
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'OK',
                    timer: 3000
                }).then((res) => {
                    window.location.href = '/home'
                })



        } catch (error) {
            console.log(error.message);
        }
    }
</script>
<script>
    function copyToClipboard(text) {
  navigator.clipboard.writeText(text);
  Swal.fire({
    icon: 'success',
    title: 'Copied to clipboard!',
    text: 'Coupon name has been copied.',
    timer: 2000,
    timerProgressBar: true
  });
}

</script>