<section style="background-color: #d1cbcb;">
  <div class=" p-5 container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div>
              <div>
                <p class="text-center h1  mb-5 mx-1 mx-md-4 mt-4">My Orders</p>
                <div>
                  {{#if length}}
                  {{#each myorders}}
                  <div class="card" style="border-radius: 10px; background-color: rgb(217, 210, 221);">

                    <div class="card-body p-4">
                      <div class="d-flex justify-content-between align-items-center mb-4">
                        
                        

                      </div>
                      {{#each product}}
                      <div class="card shadow-0 border mb-4">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                              <a href="/productview?id={{id}}" class="text-decoration-none text-dark">
                                <p class="mb-0">{{name}}</p>
                              </a>
                            </div>
                            <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">Price : ₹{{price}}</p>
                            </div>
                            <div class="col-md-4 text-center d-flex justify-content-center align-items-center">
                              <p class="text-muted mb-0 small">Quantity : {{quantity}}</p>
                            </div>
                          </div>
                          <hr class="mb-4" style="background-color: #e0e0e0; opacity: 1;">
                          <div class="row d-flex align-items-center">
                            <div class="col-md-2">
                              <p class="text-muted mb-0 small">Track Order</p>
                            </div>
                            <div class="col-md-10">
                              <div class="progress" style="height: 6px; border-radius: 16px;">
                                {{#ifeq ../status "Processing"}}
                                <div class="progress-bar" role="progressbar"
                                  style="width: 15%; border-radius: 16px; background-color: rgb(105, 12, 162);"
                                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/ifeq}}
                                {{#ifeq ../status "Shipped"}}
                                <div class="progress-bar" role="progressbar"
                                  style="width: 39%; border-radius: 16px; background-color: rgb(105, 12, 162);"
                                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/ifeq}}
                                {{#ifeq ../status "Out for Delivery"}}
                                <div class="progress-bar" role="progressbar"
                                  style="width: 64%; border-radius: 16px; background-color: rgb(105, 12, 162);"
                                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/ifeq}}
                                {{#ifeq ../status "Delivered"}}
                                <div class="progress-bar" role="progressbar"
                                  style="width: 100%; border-radius: 16px; background-color: rgb(105, 12, 162);"
                                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/ifeq}}
                                {{#ifeq ../status "Cancelled"}}
                                <div class="progress-bar" role="progressbar"
                                  style="width: 100%; border-radius: 16px; background-color: #FF0000 ;"
                                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/ifeq}}
                                {{#ifeq ../status "Returned"}}
                                <div class="progress-bar" role="progressbar"
                                  style="width: 100%; border-radius: 16px; background-color: rgb(12, 69, 162);"
                                  aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
                                </div>
                                {{/ifeq}}
                                
                                
                              </div>
                              <div class="d-flex justify-content-around mb-1">
                                
                                {{#ifeq ../status "Cancelled"}}
                                <p class="text-danger mt-1 mb-0 small ms-xl-5"><strong>Cancelled</strong></p>
                                {{/ifeq}}
                                {{#ifeq ../status "Returned"}}
                                <p class="text-primary mt-1 mb-0 small ms-xl-5"><strong>Returned</strong></p>
                                {{/ifeq}}
                                {{#ifeq ../status "Processing"}}
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivery</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                {{/ifeq}}
                                {{#ifeq ../status "Shipped"}}
                                <p class="text-muted mt-1 mb-0 small ms-xl-5"  >Processing</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivery</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                {{/ifeq}}
                                {{#ifeq ../status "Out for Delivery"}}
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivery</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                {{/ifeq}}
                                {{#ifeq ../status "Delivered"}}
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Processing</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Shipped</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Out for delivery</p>
                                <p class="text-muted mt-1 mb-0 small ms-xl-5">Delivered</p>
                                {{/ifeq}}
                                
                                
                                
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{/each}}

                      

                      <div class="d-flex justify-content-between pt-2">
                        
                        <a class="logbutton text-decoration-none text-white "  href="/myorderdetails?id={{this.id}}"
                        role="button">Order Details
                        <div class="arrow-wrapper">
                            <div class="arrow"></div>

                        </div>
                    </a>    




                        {{#ifeq this.status "Processing"}}
                        <a href="/cancelreturnorder?id={{this._id}}" class="text-danger text-decoration-none"
                          data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}"><strong>Cancel
                            Order</strong></a>
                            
                        {{/ifeq}}

                        {{#ifeq this.status "Shipped"}}
                        <a href="/cancelreturnorder?id={{this._id}}" class="text-danger text-decoration-none"
                          data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}"><strong>Cancel
                            Order</strong></a>
                        {{/ifeq}}

                        {{#ifeq this.status "Out for Delivery"}}
                        <a href="/cancelreturnorder?id={{this._id}}" class="text-danger text-decoration-none"
                          data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}"><strong>Cancel
                            Order</strong></a>
                        {{/ifeq}}

                        {{#ifeq this.status "Delivered"}}
                        <a href="/cancelreturnorder?id={{this._id}}" class="text-primary text-decoration-none"
                          data-bs-toggle="modal" data-bs-target="#exampleModal{{@index}}"><strong>Return
                          </strong></a>
                        {{/ifeq}}
                      </div>
                    </div>
                  </div>

                  {{#ifeq this.status "Processing"}}
                  <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure to cancel order ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="/cancelreturnorder?id={{this._id}}"><button type="button"
                              class="btn btn-danger">Cancel
                              Order</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/ifeq}}
                  {{#ifeq this.status "Shipped"}}
                  <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure to cancel order ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="/cancelreturnorder?id={{this._id}}"><button type="button"
                              class="btn btn-danger">Cancel
                              Order</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/ifeq}}
                  {{#ifeq this.status "Out for Delivery"}}
                  <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Cancel Order</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure to cancel order ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="/cancelreturnorder?id={{this._id}}"><button type="button"
                              class="btn btn-danger">Cancel
                              Order</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/ifeq}}
                  {{#ifeq this.status "Delivered"}}
                  <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Return Order</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure to return order ?</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <a href="/cancelreturnorder?id={{this._id}}"><button type="button"
                              class="btn btn-danger">Return
                              Order</button></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  {{/ifeq}}
                  <br>

                  {{/each}}
                  {{else}}

                  <img src="https://tse3.mm.bing.net/th?id=OIP.wPbsYmMcxEa_Bj86KKUAFQHaHa&pid=Api&P=0" alt=""
                    style="width: 20vw; height: 25vh;">
                  <h1>No orders yet</h1>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





