<section style="background-color: #d1cbcb">
    <div class=" p-5 container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div>
                            <div>
                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Add Address</p>
                                <div class="d-flex justify-content-left mb-2 p-3">
                                    <a class="utton text-decoration-none" href="/addaddress">Add New Address</a>
                                </div>
                                <div class="row">
                                    {{#each address}}
                                    <div class="col-md-6">
                                        <div class="bg-white card addresses-item mb-4 border border-primary shadow">
                                            <div class="gold-members p-4">
                                                <div class="media">
                                                    <div class="mr-3"><i class="icofont-ui-home icofont-3x"></i>
                                                    </div>
                                                    <div class="media-body">
                                                        <h6 class="mb-1 text-secondary">{{deliver_to}}</h6>
                                                        <p class="text-black">{{name}} &nbsp &nbsp
                                                            &nbsp<b>{{number}}</b>
                                                        </p>
                                                        <p>{{house}}</p>
                                                        <p>{{city}}, {{state}}, {{country}}</p>
                                                        <p>{{pincode}} </p>



                                                        <div class="d-flex justify-content-end">
                                                            <button class="dbtn">
                                                                <a href="/deleteaddress?id={{this._id}}"
                                                                    class="paragraph text-decoration-none"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#exampleModal{{@index}}">Delete</a>
                                                                <span class="icon-wrapper">
                                                                    <svg class="icon" width="30px" height="30px"
                                                                        viewBox="0 0 24 24" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path
                                                                            d="M6 7V18C6 19.1046 6.89543 20 8 20H16C17.1046 20 18 19.1046 18 18V7M6 7H5M6 7H8M18 7H19M18 7H16M10 11V16M14 11V16M8 7V5C8 3.89543 8.89543 3 10 3H14C15.1046 3 16 3.89543 16 5V7M8 7H16"
                                                                            stroke="#000000" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round"></path>
                                                                    </svg>
                                                                </span>
                                                            </button>
                                                            <button class="bbbtn">
                                                                <a class="paragraph text-decoration-none"
                                                                    href="/editaddress?id={{this._id}}">Edit</a>
                                                                <span class="icon-wrapper">
                                                                    <svg class="icon" width="30px" height="30px"
                                                                        viewBox="0 0 24 24" fill="none"
                                                                        xmlns="http://www.w3.org/2000/svg">
                                                                        <path
                                                                            d="M18.2426 5.75736C18.6332 5.36677 19.2665 5.36677 19.6571 5.75736L21.2426 7.34289C21.6332 7.73347 21.6332 8.36683 21.2426 8.75742L9.75735 20.2426C9.36676 20.6332 8.7334 20.6332 8.34282 20.2426L6.75728 18.6571C6.3667 18.2665 6.3667 17.6332 6.75728 17.2426L18.2426 5.75736ZM14.4142 9.58579L12.8284 8L5 15.8284V18.1716H7.34285L15.1716 10.3429L13.5858 8.75736L14.4142 9.58579Z"
                                                                            stroke="#000000" stroke-width="2"
                                                                            stroke-linecap="round"
                                                                            stroke-linejoin="round" fill="#FFFFFF">
                                                                        </path>
                                                                    </svg>

                                                                </span>
                                                            </button>
                                                        </div>




                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="exampleModal{{@index}}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Delete</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure ?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                    <a href="/deleteaddress?id={{this._id}}"><button type="button"
                                                            class="btn btn-danger">Delete</button></a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>